<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Security Roles -->
    <security-role>
        <description>Can add vehicles with an offence to the system</description>
        <role-name>TrafficCop</role-name>
    </security-role>
    <security-role>
        <description>Can view , remove, edit, and add vehicles</description>
        <role-name>Manager</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>UploadPages</web-resource-name>
            <url-pattern>/UploadVehicleServlet.do</url-pattern>
            <url-pattern>/upload_vehicle.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>TrafficCop</role-name>
            <role-name>Manager</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ManagementPages</web-resource-name>
            <url-pattern>/RemoveVehicleServlet.do</url-pattern>
            <url-pattern>/EditVehicleServlet.do</url-pattern>
            <url-pattern>/FindVehicleServlet.do</url-pattern>
            <url-pattern>/GetAllVehiclesServlet.do</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ManagerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>ManagerResources</web-resource-name>
            <description>Resources availble to the Manager</description>
            <url-pattern>/addvehicle.html</url-pattern>
            <url-pattern>/editvehicle.html</url-pattern>
            <url-pattern>/findvehicle.html</url-pattern>
            <url-pattern>/removevehicle.html</url-pattern>
            <url-pattern>/getallvehicles.html</url-pattern>
            <url-pattern>/add_vehicle_outcome</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of Manager</description>
            <role-name>Manager</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
    <web-resource-collection>
        <web-resource-name>GetAllVehicles</web-resource-name>
        <url-pattern>/GetAllVehiclesServlet.do</url-pattern>
        <url-pattern>/getallvehicles.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>Manager</role-name>
        <role-name>TrafficCop</role-name>
    </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>TrafficCopConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>TrafficCopResourcs</web-resource-name>
            <description>Resources available to traffic cop</description>
            <url-pattern>/addvehicle.html</url-pattern>
            <url-pattern>/findvehicle.html</url-pattern>
            <url-pattern>/getallvehicles.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of TrafficCop</description>
            <role-name>TrafficCop</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>FRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login_error.html</form-error-page>
        </form-login-config>
    </login-config>
    <servlet>
        <servlet-name>UploadVehicleServlet</servlet-name>
        <servlet-class>za.tut.ac.tut.web.UploadVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllVehiclesServlet</servlet-name>
        <servlet-class>za.tut.ac.tut.web.GetAllVehiclesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindVehicleServlet</servlet-name>
        <servlet-class>za.tut.ac.tut.web.FindVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVehicleServlet</servlet-name>
        <servlet-class>za.tut.ac.tut.web.EditVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveVehicleServlet</servlet-name>
        <servlet-class>za.tut.ac.tut.web.RemoveVehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadVehicleServlet</servlet-name>
        <url-pattern>/UploadVehicleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllVehiclesServlet</servlet-name>
        <url-pattern>/GetAllVehiclesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindVehicleServlet</servlet-name>
        <url-pattern>/FindVehicleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVehicleServlet</servlet-name>
        <url-pattern>/EditVehicleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveVehicleServlet</servlet-name>
        <url-pattern>/RemoveVehicleServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
